<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hello my friend
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="full" [routerLink]="['/', 'streaming']">
      Start Broadcasting
    </ion-button>
    <ion-button expand="full" color="dark" [routerLink]="['/', 'join','samadfansforever']">
      Join Broadcasting
    </ion-button>
  </div>
</ion-content>
